* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.game-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.game-screen {
  position: relative;
  width: 100vw;
  aspect-ratio: 16 / 9;

  min-width: 1000px;
  min-height: 562px;
}

.room-bg {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: contain;
  display: block;
}

/* ========================= */
/* 공통 hotspot 설정 */
/* ========================= */

.hotspot {
  position: absolute;

  border: none;
  outline: none;

  background: transparent;

  cursor: pointer;
}

/* ========================= */
/* 클릭 영역 위치 */
/* ========================= */

.computer {
  left: 37%;
  top: 30%;

  width: 17%;
  height: 16%;
}

.shelf {
  left: 12%;
  top: 34%;

  width: 10%;
  height: 20%;
}

.plant {
  left: 38%;
  top: 46%;

  width: 4%;
  height: 12%;
}

.calender {
  left: 58%;
  top: 40%;

  width: 9%;
  height: 16%;
}

.drawer {
  left: 56%;
  top: 64%;

  width: 16%;
  height: 24%;
}

.whiteboard {
  left: 36%;
  top: 0%;

  width: 30%;
  height: 24%;
}

.screen-back {
  left: 4%;
  top: 46%;

  width: 3%;
  height: 5%;

  color: #000000;
  background: white;
  font-size: 1rem;
}

.screen-front {
  left: 96%;
  top: 46%;

  width: 3%;
  height: 5%;

  color: #000000;
  background: white;
  font-size: 1rem;
}

/* 공통 모달 */
.hidden {
  display: none !important;
}

.investigate-overlay {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.55);

  z-index: 15; /* 인벤토리보다 아래 */
}

.inventory-bar {
  z-index: 30; /* 모달 overlay보다 위 */
}

.shelf-modal {
  position: absolute;

  left: 50%;
  top: 36%;

  transform: translate(-50%, -50%);

  width: 27%;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 20;
}

.modal-image-frame {
  position: relative;
  display: inline-block;
}

.shelf-modal-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.modal-back-btn {
  position: absolute;
  top: 10px;
  left: 10px;

  width: 5%;
  aspect-ratio: 1 / 1;

  border: none;
  background: rgba(0, 0, 0, 0.35);
  color: white;

  font-size: clamp(10px, 1vw, 18px);

  z-index: 120;
}

.modal-hotspot {
  position: absolute;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 115;
}

.investigate-text {
  margin-top: 18px;

  color: white;
  font-size: clamp(13px, 1.2vw, 22px);

  text-align: center;
  text-shadow: 0 0 5px black;
}

/* 개별 모달 */
.scope-area {
  left: 28%;
  top: 18%;

  width: 46%;
  height: 58%;

  z-index: 30;

  border: none;
  background: transparent;
  cursor: pointer;
}

/* 고정용 */
.hint {
  right: 3%;
  top: 4%;

  width: 8%;
  height: 7%;

  color: #323232;
  font-size: 1rem;
  background: rgba(217, 217, 217, 0.35);
}

.inventory-bar {
  position: absolute;
  left: 50%;
  bottom: 2%;

  width: 96.8%;
  height: 11.1%;

  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 20;
}

.inventory-slot {
  width: 10.2%;
  height: 100%;

  background: rgba(217, 217, 217, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.inventory-item-img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  pointer-events: none;
}
